<!-- Main Post Section -->
<section class="profile-section"> <!-- Added this class for a consistent look and feel -->
    <h2>{{this.title}}</h2> <!-- Changed to h2 for hierarchy -->
    <article>
        <p>{{this.content}}</p>
        <p>Post by: <strong>{{user.nickname}}</strong></p> <!-- Bold for emphasis -->
        <p>Created on: {{dateFormat this.createdAt}}</p>
    </article>
</section>

<!-- Comments Section -->
{{#if comments.length}}
    <section class="profile-section"> <!-- Added this class for a consistent look and feel -->
        <h2>Comments</h2>
        {{#each comments}}
            <div class="container">
                <div class="user-comment"> <!-- Using this class for consistent formatting -->
                    <article data-id="{{this.id}}">
                        <p>{{this.content}}</p>
                        <p>Comment by: <strong>{{this.user.nickname}}</strong></p> <!-- Bold for emphasis -->
                        <p>Posted on: {{dateFormat this.created_at}}</p>
                        {{#isEqual this.user.id ../loggedInUserId ../postOwnerId this.id}}
                            <button data-id="{{id}}" class="delete-btn">Delete</button>
                        {{/isEqual}}
                    </article>
                </div>
            </div>
        {{/each}}
    </section>
{{/if}}


<!-- Add Comment Section -->
{{#if logged_in}}
    <div class="container profile-section">
        <section class="create-comment" data-post-id="{{this.id}}">
            <h3>Add a Comment</h3>
            <form method="post" action="#">

                <div class="form-group">
                    <label for="content-comment">Your Comment:</label>
                    <textarea id="content-comment" name="content-comment" placeholder="Write your comment..."></textarea>
                </div>

                <div class="form-group">
                    <button type="submit">Submit</button>
                </div>

            </form>
        </section>
    </div>
{{/if}}

{{#if logged_in}}
<script src="/js/comments.js"></script>
{{/if}}