<section class="profile-section">
    <h2>Hi! {{this.nickname}}</h2>
    <p><strong>Name:</strong> {{this.first_name}} {{this.last_name}}</p>
    <p><strong>Email:</strong> {{this.email}}</p>

    <!--<button><a href="/edit-profile">Edit Profile</a></button>-->
</section>

<div class="container">
    <section class="create-post">
        <h2>Create a post</h2>
        <form action="/create-post" method="post">
            <div class="form-group">
                <label for="title-create-post">Title:</label>
                <input type="text" id="title-create-post" name="title-create-post" required>
            </div>

            <div class="form-group">
                <label for="description-create-post">Description:</label>
                <input type="text" id="description-create-post" name="description-create-post">
            </div>

            <div class="form-group">
                <label for="content-create-post">Content:</label>
                <textarea id="content-create-post" name="content-create-post"></textarea>
            </div>

            <div class="form-group">
                <button type="submit">Create</button>
            </div>

        </form>
    </section>
</div>

<section class="user-posts">
    <h2>Your Posts</h2>
    {{#each this.posts as |post|}}
        <article class="post" data-id="{{post.id}}">
            <!-- Display State -->
            <div class="display-state">
                <h3 class="post-title">{{post.title}}</h3>
                <p class="post-description">{{post.description}}</p>
                <p class="post-content">{{post.content}}</p>
                <a href="/post/{{post.id}}">Read More</a>
                <button class="update-post-btn">Update</button>
                <button class="delete-btn">Delete</button>
            </div>

            <!-- Edit State (Hidden initially) -->
            <div class="edit-state" style="display: none;">
                <input type="text" class="post-title-edit" value="{{post.title}}">
                <input type="text" class="post-description-edit" value="{{post.description}}">
                <textarea class="post-content-edit">{{post.content}}</textarea>
                <button class="save-post-btn">Save</button>
                <button class="cancel-post-btn">Cancel</button>
            </div>
        </article>
    {{/each}}
</section>


<script src="/js/posts.js"></script>