<section class="profile-section">
    <h2>Your Profile</h2>
    <p><strong>First Name:</strong> {{user.first_name}}</p>
    <p><strong>Last Name:</strong> {{user.last_name}}</p>
    <p><strong>Nickname:</strong> {{user.nickname}}</p>
    <p><strong>Email:</strong> {{user.email}}</p>


    <!--<button><a href="/edit-profile">Edit Profile</a></button>-->
</section>

<section class="user-posts">
    <h2>Your Posts</h2>
    {{#each user.posts as |post|}}
        <article>
            <h3>{{post.title}}</h3>
            <p>{{post.content}}</p>
            <!-- Linking to each post for more details or editing -->
            <a href="/post/{{post.id}}">Read More</a>
        </article>
    {{/each}}
</section>